# Audience Sizer
POC of doing an Audience Pull for Marketing based off the following Jira Tickets

[CBSBI-1502](https://owl.cbsi.com/jira/browse/CBSBI-1502)   
[CBSBI-1501](https://owl.cbsi.com/jira/browse/CBSBI-1501)   
[Strang Angle - CBSBI-1558](https://owl.cbsi.com/jira/browse/CBSBI-1558)

In [9]:
start_dt='2019-06-01'
end_dt='2019-06-05'
show_nm='Strange Angel'
video_cnt=2
len_seconds=1000

In [10]:
import sys
import logging

import numpy as np

%load_ext autoreload
%autoreload 2

import pandas as pd
pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)

logging.basicConfig(level=logging.INFO, stream=sys.stdout)

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
pd.set_option("display.max_rows", 1000)
pd.set_option("display.max_columns", 120)

### Set Constants

In [12]:
from google.cloud import bigquery
from google.oauth2 import service_account

credentials = service_account.Credentials.from_service_account_file('/Users/orami0610/.ssh/google-api/keys/i-dss-cdm-data-e812ceff6640.json')
project_id = "i-dss-cdm-data"


# service_account = get_service_account_key(CDM_DATA_SERVICE_ACCOUNT)
# service_account = get_service_account_key(DEFAULT_CREDENTIALS)

bq = bigquery.Client(credentials=credentials, project=project_id)

# bq = BQConnector(service_account, project_id)

### Get Audience
Added a breakdown for season counts.

In [13]:
sql_audience = """
    WITH cte_event AS (
      SELECT
        e.v69_registration_id_nbr,
        concat('season_', video_season_nbr) season,
        MAX(v.video_series_nm) video_series_nm, 
        MIN(day_dt) min_day_dt,
        MAX(day_dt) max_day_dt,
        --MIN(e.v15_user_status_cd) min_v15_user_status_cd,
        --MAX(e.v15_user_status_cd) max_v15_user_status_cd,
        SUM(media_start_cnt) media_start_cnt,
        COUNT(DISTINCT e.v31_mpx_reference_guid) video_cnt 

      FROM
        `dw_vw.aa_cs_video_detail_day` e
      INNER JOIN
        `dw_vw.mpx_video_content` v
      ON
        v.mpx_reference_guid = e.v31_mpx_reference_guid
      WHERE
        day_dt between '{start_dt}' and '{end_dt}'
        AND v69_registration_id_nbr IS NOT NULL
        --and v.episodic_ind = True
        AND media_start_cnt > 0
        AND v.video_series_nm = '{shown_nm}'
        # AND e.v9_rsid_id = 'cnetcbscomsite'
        AND v.length_in_seconds > {lis}
      GROUP BY
        1,2
    )

    SELECT
      e.*,
      r.*,
      s.src_instance_nm
    FROM
      cte_event e
    INNER JOIN
      `i-dss-cdm-data-dev.cdm_pt.pt_cbs_aa_registration_dim` r
    ON
      CAST(r.user_id AS string) = e.v69_registration_id_nbr and r.src_system_id = 108
    INNER JOIN
      `dw_vw.source_system_dim` s
    ON
      s.src_system_id = r.src_system_id
"""

In [14]:
df_audience_raw = bq.query(sql_audience.format(start_dt=start_dt, end_dt=end_dt, shown_nm=show_nm, lis=len_seconds)).to_dataframe()

In [15]:
df_audience_raw.tail()

,v69_registration_id_nbr,season,video_series_nm,min_day_dt,max_day_dt,media_start_cnt,video_cnt,user_id,plan,plan_type,user_state,activate_dt,bill_platform,src_system_id,expiration_dt,registration_dt,dw_create_dt_ut,dw_update_dt_ut,src_instance_nm
14138,29014366,season_1,Strange Angel,2019-06-02,2019-06-04,2,1,29014366,CF,monthly,subscriber,2018-07-05 22:20:49,amazonappstore,108,None,2018-07-05,2019-05-14 15:45:56.236491+00:00,2019-05-14 15:45:56.236491+00:00,cbsreg
14139,33758162,season_1,Strange Angel,2019-06-02,2019-06-02,1,1,33758162,LC,monthly,subscriber,2019-04-11 02:11:32,amazonappstore,108,None,2019-04-11,2019-05-14 15:45:56.236491+00:00,2019-05-14 15:45:56.236491+00:00,cbsreg
14140,12030447,season_1,Strange Angel,2019-06-01,2019-06-01,2,2,12030447,LC,monthly,subscriber,2019-09-29 14:38:57,amazonappstore,108,None,2014-12-10,2019-05-14 15:45:56.236491+00:00,2019-09-30 17:03:51.548463+00:00,cbsreg
14141,24076298,season_1,Strange Angel,2019-06-02,2019-06-02,1,1,24076298,LC,monthly,subscriber,2017-09-20 14:59:04,amazonappstore,108,None,2017-09-20,2019-05-14 15:45:56.236491+00:00,2019-05-14 15:45:56.236491+00:00,cbsreg
14142,22478363,season_1,Strange Angel,2019-06-01,2019-06-01,1,1,22478363,LC,monthly,subscriber,2018-09-24 13:06:35,amazonappstore,108,None,2017-05-23,2019-05-14 15:45:56.236491+00:00,2019-05-14 15:45:56.236491+00:00,cbsreg

In [16]:
cols = [ 
 'user_id',
 'season',
 'video_series_nm',
 'media_start_cnt',
 'video_cnt',
 'plan',
 'plan_type',
 'user_state',
 'src_system_id']

In [17]:
df_audience_raw[cols].head()

,user_id,season,video_series_nm,media_start_cnt,video_cnt,plan,plan_type,user_state,src_system_id
0,17038332,season_1,Strange Angel,4,2,LC,monthly,ex-subscriber,108
1,15367223,season_1,Strange Angel,2,2,CF,monthly,ex-subscriber,108
2,24252308,season_1,Strange Angel,1,1,LC,monthly,ex-subscriber,108
3,20814935,season_1,Strange Angel,1,1,LC,monthly,ex-subscriber,108
4,34092910,season_1,Strange Angel,2,1,LC,monthly,ex-subscriber,108

__Pivot By Seaosn Number__

In [48]:
df_audience_pivot = pd.pivot_table(df_audience_raw[cols], values='media_start_cnt', 
               index=['user_id', 'video_series_nm','plan','plan_type', 'user_state', 'src_system_id' ]
               ,columns='season').fillna(0).reset_index()

In [49]:
df_audience_pivot.head()

season,user_id,video_series_nm,plan,plan_type,user_state,src_system_id,season_1,season_2
0,461,Strange Angel,CF,monthly,subscriber,108,20.0,2.0
1,779,Strange Angel,CF,monthly,subscriber,108,1.0,0.0
2,888,Strange Angel,LC,monthly,ex-subscriber,108,43.0,0.0
3,3150,Strange Angel,CF,monthly,subscriber,108,17.0,0.0
4,3637,Strange Angel,CF,monthly,subscriber,108,0.0,1.0

__Count of Sub States__

In [50]:
df_audience_pivot.groupby('user_state').agg({'user_id':'count'})

               user_id
user_state
ex-subscriber   104501
subscriber      289430

__Filter Audience Down__   
Watched Season 1 but has not started season 2

In [73]:
df_audience = df_audience_pivot[(df_audience_pivot.season_1 > 0) & (df_audience_pivot.season_2 == 0) ]

__Export Audiences__

In [77]:
def file_namer(show_nm, sub_state):
    #file_nm = "{}-{}.csv.zip".format(show_nm, sub_state)
    file_nm = "results.csv.zip"
    display(file_nm)
    return file_nm

In [78]:
df_audience.to_csv("results.csv", index=False, header=True)

'Strange Angel-ex-sub.csv.zip'